{% extends 'base.html.twig' %}

{% block title %}Hello SiteBoulangController!{% endblock %}


{% block body %}
<style>

body {
    background: url('../assets/fondPresentation.jpg') no-repeat fixed 0;
}

</style>

<div class="container" style="padding-bottom: 200px">
    <div style="height: 300px">
        <div class="text-center" style="font-size:92px; font-weight:700;color:#fff; font-family:comic sans ms; " >
            <p style="margin-top:200px">Presentation</p>
        </div>
    </div>
</div>
{# {% if app.user.admin %} == vérification si user est un admin #}

{% if app.user %}
    {% if app.user.admin %}
        <div class="mb-3">
            <p>Vous êtes un admin</p>
        </div>
    {% endif %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}
            <div style="width:200px">
            <a href="{{path('app_logout') }}"/>
            <button Type="button">Déconnexion</button>
            </div>
        </div>
{% else %}
<a href="{{path('app_login') }}"/>
<button Type="button">Connexion</button>
<div class="container">
    <div style="height: 300px">
        <div class="text-center" style="font-size:92px; font-weight:700; margin-top: 00px; color:#fff; font-family:comic sans ms;" >
            <p style="margin-top:200px">Presentation</p>
        </div>
    </div>
    <div class="text-center" style=" font-size:25px; color:#fff; font-family:comic sans ms; ">
        {{Presentation.presentation}}
    </div>
</div>

<div style="width:200px">
<a href="{{path('app_register') }}">
<button Type="button">Créer un compte !</button>
</div>

{% endif %}






<div class="container">

{% endblock %}